     body { 
      background-color: grey;
       }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
        border: 3px black;
        color: red;
        font-weight: bolder;

      }
      #notes {
        float: right;
        width: 30%;
      }